<div class="rounded-2xl">
  <div class="header">
    <div class="header-title">
      <ng-content select="[icon]"></ng-content>
      {{ title() }}
    </div>

    <button type="button" (click)="edit.emit(step())">
      <svg ...></svg>
      Modifier
    </button>
  </div>

  <div class="grid-item recap-item">
    <mat-accordion>
      @for (item of filteredItems(); track item.label) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              <mat-icon>
                <button type="button" (click)="edit.emit(step())"></button>
              </mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <span class="item-label">{{ item.label }}</span>
          <span class="item-value">
            @if (isBoolean(item.value)) {
              {{ item.value ? 'Oui' : 'Non' }}
            } @else {
              {{ item.value }}
            }
          </span>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </div>

  <!-- <div class="items-grid">
    @for (item of filteredItems(); track item.label) {
      <div class="flex flex-col">
        <span class="item-label">{{ item.label }}</span>
        <span class="item-value">
          @if (isBoolean(item.value)) {
            {{ item.value ? 'Oui' : 'Non' }}
          } @else {
            {{ item.value }}
          }
        </span>
      </div>
    }
  </div> -->
</div>
