.station-container {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  padding: 1.5rem;
  width: 100%;

  .constituency-tree {
    flex: 2; /* Prend deux parts de l'espace */
    min-width: 300px; /* Empêche l'arbre de devenir trop étroit */
    border-right: 1px solid #eee; // Optionnel : une petite séparation visuelle
    padding-right: 1rem;
  }

  .station-form {
    flex: 1; /* Prend une part de l'espace */
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
