<div class="register-container">
  <div class="header">
    <h1>{{ 'register.subtitle' | translate }}</h1>
  </div>
  <form [formGroup]="registerForm" class="register-form">
    <!-- Civilité -->
    <div class="civility-group">
      <label class="radio radio-card">
        <input type="radio" formControlName="civility" value="mr" />
        <span>{{ 'global.civility.mr' | translate }}</span>
      </label>
      <label class="radio radio-card">
        <input type="radio" formControlName="civility" value="mrs" />
        <span>{{ 'global.civility.mrs' | translate }}</span>
      </label>
      <label class="radio radio-card">
        <input type="radio" formControlName="civility" value="ms" />
        <span>{{ 'global.civility.ms' | translate }}</span>
      </label>
    </div>

    <!-- Nom et Prénom -->
    <div class="inputs-container">
      <div class="input-block required">
        <label for="lastName">{{ 'users.lastName' | translate }}</label>
        <input type="text" id="lastName" formControlName="lastName" />
        @if (registerForm.controls.lastName.touched && registerForm.controls.lastName.errors) {
          <ul class="form-error">
            @if (registerForm.controls.lastName.errors['required']) {
              <li>
                {{ 'formError.required' | translate }}
              </li>
            }
          </ul>
        }
      </div>
      <div class="input-block required">
        <label for="firstName">{{ 'users.firstName' | translate }}</label>
        <input type="text" id="firstName" formControlName="firstName" />
        @if (registerForm.controls.firstName.touched && registerForm.controls.firstName.errors) {
          <ul class="form-error">
            @if (registerForm.controls.firstName.errors['required']) {
              <li>
                {{ 'formError.required' | translate }}
              </li>
            }
          </ul>
        }
      </div>
    </div>

    <!-- Téléphone et Email -->
    <div class="inputs-container">
      <div class="input-block required">
        <label for="phone">{{ 'users.phone' | translate }}</label>
        <app-phone-input [required]="true" formControlName="phone"></app-phone-input>
        @if (registerForm.controls.phone.touched && registerForm.controls.phone.errors) {
          <ul class="form-error">
            @if (registerForm.controls.phone.errors['required']) {
              <li>
                {{ 'formError.required' | translate }}
              </li>
            }
            @if (registerForm.controls.phone.errors['pattern']) {
              <li>
                {{ 'formError.phoneInvalid' | translate }}
              </li>
            }
          </ul>
        }
      </div>
      <div class="input-block required">
        <label for="email">{{ 'users.email' | translate }}</label>
        <input type="email" id="email" formControlName="email" />
        @if (registerForm.controls.email.touched && registerForm.controls.email.errors) {
          <ul class="form-error">
            @if (registerForm.controls.email.errors['required']) {
              <li>
                {{ 'formError.required' | translate }}
              </li>
            }
            @if (registerForm.controls.email.errors['email']) {
              <li>
                {{ 'formError.emailInvalid' | translate }}
              </li>
            }
          </ul>
        }
      </div>
    </div>

    <!-- Mots de passe -->
    <div class="inputs-container">
      <div class="input-block required">
        <label for="password">{{ 'users.password' | translate }}</label>
        <div class="password-container">
          <input
            id="password"
            [type]="hidePassword() ? 'password' : 'text'"
            formControlName="password"
          />
          <button type="button" class="toggle-password" (click)="togglePassword()">
            <i [class]="hidePassword() ? 'ph ph-eye' : 'ph ph-eye-slash'"></i>
          </button>
        </div>
        @if (registerForm.controls.password.touched && registerForm.controls.password.errors) {
          <ul class="form-error">
            @if (registerForm.controls.password.errors['required']) {
              <li>
                {{ 'formError.required' | translate }}
              </li>
            }
          </ul>
        }
      </div>

      <div class="input-block required">
        <label for="confirmPassword">{{ 'users.confirmPassword' | translate }}</label>
        <div class="password-container">
          <input
            id="confirmPassword"
            [type]="hideConfirmPassword() ? 'password' : 'text'"
            formControlName="confirmPassword"
          />
          <button type="button" class="toggle-password" (click)="toggleConfirmPassword()">
            <i [class]="hideConfirmPassword() ? 'ph ph-eye' : 'ph ph-eye-slash'"></i>
          </button>
        </div>
        @if (
          registerForm.controls.confirmPassword.touched &&
          registerForm.controls.confirmPassword.errors
        ) {
          <ul class="form-error">
            @if (registerForm.controls.confirmPassword.errors['required']) {
              <li>
                {{ 'formError.required' | translate }}
              </li>
            }
          </ul>
        }
      </div>
    </div>

    <!-- activité user et matricule -->
    <div class="inputs-container">
      <div class="input-block required">
        <label for="roles-select">{{ 'users.role' | translate }}</label>
        <select id="roles-select" formControlName="roles">
          <option value="">Activité</option>
          @for (activity of activityOptions; track activity) {
            <option [value]="activity">{{ activity }}</option>
          }
        </select>
      </div>
      @if (!isRequester()) {
        <div class="input-block required">
          <label for="employeeNumber">{{ 'users.employeeNumber' | translate }}</label>
          <input type="text" id="employeeNumber" formControlName="employeeNumber" />
          @if (
            registerForm.controls.employeeNumber.touched &&
            registerForm.controls.employeeNumber.errors
          ) {
            <ul class="form-error">
              @if (registerForm.controls.employeeNumber.errors['required']) {
                <li>
                  {{ 'formError.required' | translate }}
                </li>
              }
            </ul>
          }
        </div>
      }
    </div>

    <!-- Authentification -->
    <div class="input-block">
      <div class="label-container">
        <span class="label">{{ 'users.authMethods.label' | translate }}</span>
      </div>
      <div class="options-container">
        <label for="email-method" class="radio">
          <input type="radio" id="email-method" [value]="null" formControlName="authProvider" />
          {{ 'users.authMethods.email' | translate }}
        </label>
        <label for="microsoft-method" class="radio">
          <input
            type="radio"
            id="microsoft-method"
            [value]="'microsoft'"
            formControlName="authProvider"
          />
          {{ 'users.authMethods.microsoft' | translate }}
        </label>
        <label for="google-method" class="radio">
          <input
            type="radio"
            id="google-method"
            [value]="'google'"
            formControlName="authProvider"
          />
          {{ 'users.authMethods.google' | translate }}
        </label>
      </div>
    </div>
  </form>
</div>

<pre>{{ registerForm.value | json }}</pre>

<app-sticky-buttons-container>
  <button type="button" class="btn primary" [disabled]="registerForm.invalid" (click)="onSubmit()">
    {{ 'global.save' | translate }}
  </button>
  <button type="button" class="btn outline outline-primary" (click)="goBack()">
    {{ 'global.back' | translate }}
  </button>
</app-sticky-buttons-container>
