<div class="phone-container" [class.disabled]="disabled()">
  <div class="country-selector">
    @for (country of countries; track country.code) {
      @if (country.code === selectedCountry()) {
        <span class="selected-flag">{{ country.flag }}</span>
      }
    }
    <span class="dial-code">+{{ getDialCode() }}</span>
    <select [value]="selectedCountry()" (change)="onCountryChange($event)" [disabled]="disabled()">
      @for (country of countries; track country.code) {
        <option value="{{ country.code }}">
          {{ country.flag }} {{ country.name }} (+{{ country.dial }})
        </option>
      }
    </select>
    <span class="dropdown-arrow">▼</span>
  </div>

  <input
    type="tel"
    [value]="phoneNumber()"
    (input)="onNumberInput($event)"
    (blur)="onTouched()"
    [disabled]="disabled()"
    [required]="required()"
  />
  <span><i class="flag-icon flag-icon-fr"></i></span>
</div>
