<app-login-page-template>
  <form class="basic-form reset-password-form" [formGroup]="resetForm" (ngSubmit)="onResetSubmit()">
    <div class="input-block required">
      <label for="password">{{ 'resetPassword.password' | translate }}</label>
      <div class="password-container">
        <input
          id="password"
          [type]="passwordVisible() ? 'text' : 'password'"
          formControlName="password"
          placeholder="••••••••"
        />
        <button
          type="button"
          class="toggle-visibility"
          (click)="togglePasswordVisibility('passwordVisible')"
        >
          <i [class]="passwordVisible() ? 'ph ph-eye' : 'ph ph-eye-slash'"></i>
        </button>
      </div>
      @if (resetForm.controls.password.errors) {
        <ul class="form-error">
          @if (
            resetForm.controls.password.touched && resetForm.controls.password.errors['required']
          ) {
            <li>{{ 'formsError.required' | translate }}</li>
          }
          @if (
            !resetForm.controls.password.value || resetForm.controls.password.errors['pattern']
          ) {
            <li>{{ 'formsError.passwordFormat' | translate }}</li>
          }
        </ul>
      }
    </div>

    <div class="input-block required">
      <label for="password-confirm">{{ 'login.passwordConfirm' | translate }}</label>
      <div class="password-container">
        <input
          [type]="confirmPasswordVisible() ? 'text' : 'password'"
          id="password-confirm"
          formControlName="passwordConfirm"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility('confirmPasswordVisible')"
        >
          <i [class]="confirmPasswordVisible() ? 'ph ph-eye' : 'ph ph-eye-slash'"></i>
        </button>
      </div>
      @if (
        resetForm.controls.passwordConfirm.touched &&
        (resetForm.controls.passwordConfirm.errors || resetForm.errors?.['passwordMismatch'])
      ) {
        <ul class="form-error">
          @if (resetForm.controls.passwordConfirm.errors?.['required']) {
            <li>{{ 'formsError.required' | translate }}</li>
          }
          @if (resetForm.errors?.['passwordMismatch']) {
            <li>{{ 'formsError.passwordMismatch' | translate }}</li>
          }
        </ul>
      }
    </div>

    <div class="actions">
      <button
        type="submit"
        class="btn secondary btn-reset-password"
        [disabled]="resetForm.invalid || isLoading()"
      >
        {{ 'resetPassword.resetActionButton' | translate }}
        @if (isLoading()) {
          <app-loader></app-loader>
        }
      </button>
    </div>
  </form>

  <div class="footer-link">
    <a routerLink="/login">Retour à la connexion</a>
  </div>
</app-login-page-template>
