.polling-stations {
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-field {
    width: 100%;
    max-width: 420px;
  }

  .table-container {
    position: relative;
    min-height: 200px;
    max-height: 550px;
    overflow: auto;

    table {
      width: 100%;
    }

    .action-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }

    .mat-mdc-row:hover {
      background-color: rgba(24, 241, 107, 0.04);
    }

    .mat-column-actions {
      width: 120px;
      text-align: center;
    }

    .mat-mdc-header-row {
      background-color: orange;
      z-index: 100;
    }

    .loading-container {
      z-index: 200;
    }
  }
}
