.polling-stations {
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table-container {
    position: relative;
    min-height: 200px;
    max-height: 550px;
    overflow: auto;

    table {
      width: 100%;
    }

    .action-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }

    // Mettre en avant la ligne au survol
    .mat-mdc-row:hover {
      background-color: rgba(24, 241, 107, 0.04);
    }
    // Fixer la largeur de la colonne actions
    .mat-column-actions {
      width: 120px;
      text-align: center;
    }
  }
}
